<form action="/tweets/{{tweet._id}}/comments" method="POST" class="mb-4 bg-light p-2">
  <div class="form-group">
    <textarea name="text" type="text" class="form-control" id="text" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-outline btn-sm">
    Add comment
  </button>
</form>